@model IEnumerable<Germinmed.Models.HomeViewModel>
@using System.Text.RegularExpressions;
@{

    Layout = null;
}


@foreach (var item in Model.GroupBy(x => x.Id).Select(y => y.First()).ToList())
{
    <div class="news-box item ">
        <img src="@Url.Content(item.ImageUrl)" alt="" class="img-responsive">
        <div class="prod-desc">
            <h4> @item.ProductName</h4>


            @{
                if (item.Description != null)
                {
                    if (item.Description.Length >= 100)
                    {
                        <p>@(Regex.Replace(item.Description.Substring(0, 100), @"<[^>]*>", String.Empty))</p>
                    }
                    else
                    {
                        <p>@(item.Description) </p>
                    }
                }
            }




        </div>
    </div>
}


