@model IEnumerable<Germinmed.Models.Category>

@{

    Layout = "";
}




            @foreach (var item in Model)
            {
                if (item.ParentId == 0)
                {
                    <div class="col-menu col-md-3">
                        <h6 class="title"> @Html.DisplayFor(modelItem => item.Title)</h6>
                        <div class="content">
                            <ul class="menu-col">
                                @foreach (var item1 in Model)
                                {
                                    if (item.Id == item1.ParentId)
                                    {
                                        <li><a href="@Url.Action("Index", "Product",new {id=item.Id })"><i class="fa fa-circle"></i>&nbsp; @Html.DisplayFor(modelItem => item1.Title)</a></li>

                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
           


