<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>
    <h1 style="color: #003366;">
        Customer Support Information
    </h1>
    <br />
    <h3 style="color: #003366;">  <div class="enquiry_form"> General <span>Details</span></div></h3>


    <table style="color: #003366;">
        <tr>
            <td>  <label class="form-content">Name</label></td>
            <td>{Name}</td>

        </tr>
        <tr>
            <td> <label class="form-content">Email</label></td>
            <td>{Email}</td>
        </tr>
        <tr>
            <td>  <label class="form-content">Contact Number</label></td>
            <td>{Contact}</td>
        </tr>
        <tr>
            <td> <label class="form-content">Message</label></td>
            <td>{Message}</td>
        </tr>
        
    </table>


    

</body>
</html>
