@media only screen and (max-width: 1700px) and (min-width: 1200px) {
.header-top-left {
	padding-right: 43px;
}
}
 @media(min-width:992px) {
.abt-img img {
	width: 84%;
	float: right;
}
.hide-up-mobile {
	display: none;
}
}
 @media(max-width:1700px) {
#search {
	min-width: 200px;
	background-position: 167px 8px;
}
#first-wave {
	display: none;
}
.logo-left {
	left: 246px;
}
.logo-left a img {
	max-width: 75%;
}
}
 @media(max-width:1495px) {
#search {
	min-width: 180px;
	background-position: 157px 8px;
}
.logo-left {
	/* top: 19px; */
	left: 100px;
}
}
 @media(max-width:1253px) {
.logo-left a img {
	width: 80%;
}
nav.navbar.bootsnav ul.nav > li > a {
	padding: 15px 8px;
}
.logo-left {
	/* top: 19px; */
	left: 21px;
}
 }
 @media(max-width:1170px) {
	 
.header-top-right {
 
    width: 69%;
}	 
}
 @media(max-width:1120px) {
.header-top-right {
    width: 73%;
}


 }

 @media(max-width:1061px) {
	 .header-top-right {
    width: 68%;
}
 }



 @media(max-width:992px) {
.width-60 {
	width: auto;
}
.width-30 {
	width: auto;
}
.width-40 {
	width: auto;
}
.about .nav-mobile {
	display: none;
}
.service-block {
	max-height: inherit !important;
}
.nav-tabs>li {
	width: 100%;
}
.abt-text-right {
	padding-left: 0;
}
.abt-img-left {
	text-align: center;
}
.abt-img-left img {
	display: inline-block;
}
.mis-inner img, .vis-inner img {
	margin-bottom: 20px;
}
.mission h3, .vision h3 {
	background-position: 0% -124%;
	padding-left: 14px;
}
.mis-inner {
	margin-bottom: 30px;
}
.search-box .wave {
	display: none !important;
}
#search {
	margin-bottom: 10px;
}
.event-image img {
	width: 100%;
	margin-bottom: 20px;
}
.logo-left img {
	width: 173px;
	padding-top: 39px;
	margin-right: 20px;
}
.header-top-right {
	float: none;
	width: 100%;
}
.search-box {
	float: none;
}
nav.navbar.bootsnav .navbar-nav > li a {
	padding-left: 15px;
	padding-right: 15px;
}
.abt-right .service-block a h3 {
	margin-top: -22px;
}
.logo-left {
	top: 0;
}
.event-list {
	padding-left: 30px;
	padding-right: 30px;
}
.contact-address {
	border-left: 0;
}
nav.navbar.bootsnav .navbar-nav {
	float: none !important;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}
nav.navbar.bootsnav:before {
	border-top: 60px solid #861e03;
}
nav.navbar.bootsnav:after {
	border-top: 60px solid #861e03;
}
.header-top-left {
	float: none;
	display: block;
}
.logo-left a img {
	width: inherit
}
.spec-info{
	display:none;
}
.hide-up-mobile {
	display: block;
}
.hide-up-mobile .spec-info{
	display:block;
	text-align:center;
}
.hide-up-mobile .spec-info ul{
	text-align:center;
}
.logo-left{
	text-align:center;
}
.logo-left a img{
	display:inline-block;
}
.search-box {
    float: none;
    text-align: center;
}
.hidden-md{
	display:none !important;
}
}
@media(max-width:768px) {
.logo-left a img {
	width: 29%;
}
.width-50 {
	width: 100%;
}
.event-desc h2 a {
	font-size: 20px;
}
.spec-info li {
	padding-right: 0;
}
.table-responsive-vertical > .table {
	margin-bottom: 0;
	background-color: transparent;
}
.table-responsive-vertical > .table > thead, .table-responsive-vertical > .table > tfoot {
	display: none;
}
.table-responsive-vertical > .table > tbody {
	display: block;
}
.table-responsive-vertical > .table > tbody > tr {
	display: block;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	margin-bottom: 1.6rem;
}
.table-responsive-vertical > .table > tbody > tr > td {
	background-color: #fff;
	display: block;
	vertical-align: middle;
	text-align: right;
}
.table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
	content: attr(data-title);
	float: left;
	font-size: inherit;
	font-weight: 400;
	color: #757575;
}
.table-responsive-vertical.shadow-z-1 {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
	border: none;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.table-responsive-vertical > .table-hover > tbody > tr > td:hover {
	background-color: rgba(0, 0, 0, 0.12);
}
.cust-support .enquiry_form {
	margin-bottom: 20px;
}
#demos2 {
	text-align: center;
}
#demos2 .owl-carousel.owl-drag .owl-item img {
	width: 100% !important;
}
.logo-left {
	top: 4px;
}
.header-top-right {
	float: left;
	width: 100%;
}
.logo-left img {
	display: inline-block;
}
.header-top-left {
	float: none;
	text-align: center;
}
.spec-info ul {
	text-align: center;
}
.search-box ul li {
	padding-right: 5px;
	padding-left: 5px;
}
.spec-info {
	display: none;
}
.hide-up-mobile .spec-info {
	display: block;
}
.logo-left img {
	width: 217px;
}
li.search {
    width: 100%;
	
}
.logo-left img {
   
    padding-top: 20px;
}
#search{
	background-image:none;
}
.abt-left {
    min-height: 461px;
}
}
 @media(max-width:580px) {
.copy {
	text-align: center;
}
.pwrd {
	text-align: center;
}
.location {
	text-align: center;
}
.location img {
	display: inline-block;
	float: none;
	margin-bottom: 15px;
}
.loc-inner {
	display: block;
	float: none;
}
.service-block img {
	width: 100%;
}
.spec-info {
	text-align: center;
}
.search-box {
	text-align: center;
}
product h2 {
	font-size: 33px;
}
.head-left h1 {
	text-align: center;
}
.head-right {
	text-align: center;
}
.spec-info ul {
	text-align: center;
}
.spec-info li {
	padding-right: 0;
	display: inline-block;
}
#search {
	min-width: inherit;
	width: 100%;
}
.search-box .wave {
	display: none !important;
}
.search-box .order {
	display: none;
}

.search-box .search {
	display: block;
	margin-top: -62px;
}
.spec-info {
}
.hide-up-mobile .spec-info {
	display: block;
}
.header-top-right {
	float: none;
}
#search {
	display: block;
}
.logo-left a img{
	margin-top: 30px;
}
.header-top-left {
	float: none;
	text-align: center;
}
.logo-left {
	text-align: center;
}
.logo-left a img {
	display: inline-block;
}
ul.menu-col li a i {
	font-size: 8px;
}
.top-links .list-inline li {
	display: block;
}
.top-links ul li a {
	display: block;
}
.mission, .vision {
	padding: 0 15px;
}
.logo-left a img {
	width: 60%;
}
.filter{
	margin-top:10px;
	float:none;
	width:100%;
}
.top-links select{
	width:100%;
	margin-left:0;
	    margin-top: 5px;
}
.view-xs{
    display: block!important;	
	
}
.hidden-small{
	display: none!important;	
}
nav.navbar.bootsnav:before{
	display:none!important;
}
nav.navbar.bootsnav:after{
	display:none!important;
}
.header-bottom{
	padding-top:6px;
}
.header-bottom {

    margin-left: -30px;
    margin-right: -34px;
}
.header-top-left {
 
    display: inline-block;
}
.logo-left {
    text-align: left;
}
.search-box .dropdown{
	display:none;
}

.search-box ul li {
 
    position: absolute;
    top: -50px;
    right: 0;
}
ul.prd{
	padding-left:0px;
	padding-top:25px;
}
 }
 @media(max-width:380px) {
 [class*="col-"] {
 width: 100%;
}
.logo-left a img {
	width: 60%;
}
}
