@model IEnumerable<Germinmed.Models.Brands>
@using Germinmed.Models
@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_MainSiteLayout.cshtml";
}

<main>
    <section class="banner clients-banner" style="@(ViewBag.InnerBanner!=null ?"background:url("+Url.Content(HttpUtility.UrlPathEncode(((InnerBanner)ViewBag.InnerBanner).ImageUrl))+") no-repeat;background-size: cover":"background:url(/content/images/clients-banner.jpg) no-repeat;background-size: cover" )">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="head-left">
                        <h1>Brands</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="head-right">
                        <ul class="list-inline">
                            <li><a href="">Home</a></li>
                            <li><span>/</span></li>
                            <li>Brands</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="brands">
        <div class="container">
            <div class="row pad-tb-80">
                @{ double timer = 0.1; }
                @foreach (var item in Model)
                        {
                            timer = timer + 0.1;
                    <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="@(timer)s">
                        <div class="brands-box"><a href="http://@(item.Url)" target="_blank"  >  <img src="@Url.Content(item.ImageUrl)" class="img-responsive" alt=""  /></a> </div>
                    </div>
                }

            </div>
        </div>
    </section>
</main>
