
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_MainSiteLayout.cshtml";
}

<section class="main login">

    <section class=" brands sec-1 ">
        <div class="container  ">
            <div class="row ">
                <aside class=" col-sm-4  left ">

                    <div class="alert alert-success">
                        @ViewBag.SuccessMessage
                    </div>


                </aside>
                </div>
            </div>
        </section>
    </section>





