@model IEnumerable<Germinmed.Models.Category>

@{
    Layout = null;
}


@{
    int i = 2;
    foreach (var item in Model)
    {

        <div class="col-md-2 wow fadeInUp" brandId="0" data-wow-delay="0.@(i)s">
            <a href="@Url.Action("ProductSub","Product",new { Id=item.Id})">
                <div class="product-box">
                    <div class="pro-image">
                        <img    src="@(item.ImageUrl!=null?Url.Content(item.ImageUrl):"~/AppFiles/Images/default.png")"  class="img-responsive" alt="">
                    </div>
                    <h3>@item.Title</h3>
                </div>
            </a>
        </div>
        i++;
    }
    if (ViewBag.CategoryId != null && ViewBag.CategoryId > 0)
    {
        @Html.Action("ProductAll", "Product", new { Id = ViewBag.CategoryId })
    }
}

