@using  Germinmed.Models
@{
    ViewBag.Title = "Customer Support";
    Layout = "~/Views/Shared/_MainSiteLayout.cshtml";
}

<main>

    <section class="banner contactus-banner" style="@(ViewBag.InnerBanner!=null ?"background:url("+Url.Content(HttpUtility.UrlPathEncode(((InnerBanner)ViewBag.InnerBanner).ImageUrl))+") no-repeat;background-size: cover":"background:url(/content/images/customersprt-banner.jpg) no-repeat;background-size: cover" )">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="head-left">
                        <h1>Technical Assistance</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="head-right">
                        <ul class="list-inline">
                            <li><a href="">Home</a></li>
                            <li><span>/</span></li>
                            <li>Technical Assistance</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="container">
            <div class="row pad-tb-80">
                <div class="col-md-8 wow fadeInUp" data-wow-delay="0.2s">

                    <div class="hd_footer hd_margin" style="background:#FFF; padding-top:0px;">
                        @{ if (ViewBag.Error != null)
                            {
                                <h4 style="color:red"> @ViewBag.Error; </h4>
                            }
                            else
                            {
                                if (ViewBag.Succcess != null)
                                {
                                    <h4 style="color:forestgreen">  @ViewBag.Succcess</h4>
                                }
                            }
                        }



                        <div class="col-md-12" style="padding:0px; padding-top:25px;">
                            <div class="enquiry_form"> We Look Forward  <span>to meet you</span></div>
                            <div class="ace_questions"> If you have any Questions or Enquiries , dont hesitate to contact us or send a message , our team will be happy to answer you. </div>
                        </div>
                        <div class="enq_mailsection clearfix form-box">
                            <form class="row" method="post" action="~/CustomerSupport/Index" enctype="multipart/form-data"  >
                                <div class="form-group col-md-4 padding_left margin_botttom">
                                    <label class="form-content">Name</label>
                                    <input type="text" class="form_border bg_white" id="exampleInputEmail1" placeholder="" name="Name">
                                </div>

                                <div class="form-group col-md-4 padding_left margin_botttom">
                                    <label class="form-content">Email</label>
                                    <input type="email" class="form_border bg_white" id="exampleInputEmail1" placeholder="" name="Email">
                                </div>

                                <div class="form-group col-md-4 padding_left margin_botttom">
                                    <label class="form-content">Contact Number</label>
                                    <input type="text" class="form_border bg_white" id="exampleInputEmail1" placeholder="" name="Contact" >
                                </div>

                                <div class="form-group col-md-12 padding_left margin_botttom">
                                    <br>
                                    <label class="form-content">Upload Image</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <span class="btn btn-default btn-file">
                                                <input type="file" id="ImageUpload" name="ImageUpload">
                                            </span>
                                        </span>

                                    </div>
                                    <img id='img-upload' />
                                </div>
                                <div class="form-group col-md-12 padding_left margin_botttom">
                                    <label class="form-content">Message</label>
                                    <textarea class="form_border bg_white" rows="6" placeholder="" name="Message"></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                   
                                    <input class="msg_contacthd" type="submit" value="SEND MESSAGE" />
                                </div>

                            </form>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="contact-address">
                        <h4><strong>Germin MED</strong></h4>
                        <p class="po">P.O.Box : 11755 Doha. Qatar,</p>

                        <p>
                            <strong><i class="fa fa-phone"></i>&nbsp;Phone :</strong><span class="grey"> +974 44 272148 </span><br>

                            <strong><i class="fa fa-fax"></i>&nbsp;Fax : </strong><span class="grey">+974 44 272174</span>
                        </p>


                        <ul>


                            <li>
                                <span>For Inquiry :</span>
                                <a href=""><i class="fa fa-envelope-o"></i>&nbsp;info@germinmed.com.qa</a>
                            </li>



                            <li>
                                <span>Sales and Marketing :</span>
                                <a href=""><i class="fa fa-envelope-o"></i>&nbsp;sales@germinmed.com.qa</a>
                            </li>



                            <li>
                                <span>Service Department :</span>
                                <a href=""><i class="fa fa-envelope-o"></i>&nbsp;service@germinmed.com.qa</a>
                            </li>


                            <li>
                                <span>Pharmaceutical Department :</span>
                                <a href=""><i class="fa fa-envelope-o"></i>&nbsp;pharma@germinmed.com.qa</a>
                            </li>


                            <li>
                                <span>Management and Turn key Projects :</span>
                                <a href=""><i class="fa fa-envelope-o"></i>&nbsp;abdallahsh@germinmed.com.qa</a>
                            </li>
                        </ul>



                    </div>

                </div>

                <div class="col-md-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="map-box">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.3877355480463!2d51.53314071554836!3d25.32476698383698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45c4c00812d95d%3A0xbd55176e0f6e2c45!2sGerminMED!5e0!3m2!1sen!2sin!4v1525689853122" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>






            </div>
        </div>
    </section>

  
</main>
