
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#firstTab">Mail Settings</a></li>
    </ul>
    <div class="tab-content">
        <div id="firstTab" class=" tab-pane fade in active">@Html.Action("MailSettings","Admin",new {id=1 })</div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
